

@{
    ViewData["Title"] = "VALIDAR DATOS";
}
@*


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
*@

@*GOOGLEAR CARD BOOTSTRAP 5*@
@model List<ProyectoDataTableCore.Models.Empleado>

<h1>@ViewData["Title"]</h1>

<form action="/Home/index" method="post">


    <table>
        <tr>
            <td style="padding:10px">IDempleado:
            <td style="padding:10px"><input class="form-control" maxlength="8" type="text" name="IdEmpleado" id="IdEmpleado" required /></td>

            <td style="padding:10px">Nombres:
            <td style="padding:10px"><input class="form-control" maxlength="8" type="text" name="Nombre" id="Nombre" required /></td>

            <td style="padding:10px">cargo:
            <td style="padding:10px"><input class="form-control" maxlength="8" type="text" name="Cargo" id="Cargo" required /></td>

            <td style="padding:10px">oficina:
            <td style="padding:10px"><input class="form-control" maxlength="8" type="text" name="Oficina" id="Oficina" required /></td>

            <td style="padding:10px">salario:
            <td style="padding:10px"><input class="form-control" maxlength="8" type="text" name="Salario" id="Salario" required /></td>
            <td style="padding:10px">fecha ingreso:
            <td style="padding:10px"><input class="form-control" maxlength="8" type="text" name="FechaIngreso" id="FechaIngreso" required /></td>
            <td style="padding:10px">Telefono:
            <td style="padding:10px"><input class="form-control" maxlength="8" type="text" name="Telefono" id="Telefono" required /></td>


        </tr>
        <tr>
            <td style="padding:10px"></td>
            <td style="padding:10px">
                <button class="btn btn-success" type="submit" name="btn1" id="btn1"><span class="glyphicon glyphicon-save">AGREGAR</span></button>
            </td>
            <td style="padding:10px">
                <button class="btn btn-primary" type="submit" name="btn1" id="btn1"><span class="glyphicon glyphicon-remove">resetear</span></button>
            </td>
            <td style="padding:10px">
                <a class="btn btn-danger" href="~/Home/Index"><span class="glyphicon glyphicon-backward">Regresar</span></a>

            </td>
        </tr>
    </table>
</form>
<br />
<br />

     

       

@* <table id="tb_empleados" class="table table-bordered">
    <thead style="background-color: black; color:white">
        <tr>
            <th>IdEmpleado</th>
            <th>Nombre</th>
            <th>Cargo</th>
            <th>Oficina</th>
            <th>Salario</th>
            <th>Telefono</th>
            <th>Fecha Ingreso</th>

            <th style="text-align:center">Mantenimiento</th>
        </tr>


        </tr>
    </thead> *@
@*    <tbody style="background-color:white">
        @foreach (var f in Model)
        {
            <tr>
                <td> @f.IdEmpleado</td>
                <td>@f.Nombre</td>
                <td>@f.Cargo</td>
                <td>@f.Oficina</td>
                <td>@f.Salario</td>
                <td>@f.Telefono</td>
                <td>@f.FechaIngreso</td>


                <td style="text-align: center">
                    <button class="btn btn-warning" type="button" id="btn_act" onclick="location.href='../Alumno/Actualizar?id=@f.IdEmpleado'"><span class="glyphicon glyphicon-edit"> Actualizar</span></button>
                    <button class="btn btn-warning" type="button" id="btn_act" onclick="location.href='../Alumno/Eliminar?id=@f.IdEmpleado'"><span class="glyphicon glyphicon-trash"> Eliminar</span></button>
                </td>
            </tr>
        }
    </tbody>  *@
 </table>



<div class="card" style="background-color:lightgrey; color:black">
@section Estilos{
    
    <link href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css"  rel="stylesheet" />

    @*ESTILOS DE BOTONES*@
    <link href="https://cdn.datatables.net/buttons/2.2.2/css/buttons.dataTables.min.css"  rel="stylesheet" />


     @*filter columns*@
    <link href="https://cdn.datatables.net/fixedheader/3.2.2/css/fixedHeader.dataTables.min.css"  rel="stylesheet" />

    <style>

        thead input {
            width: 100%;
            background-color: #FFFFCC !important
        }

        .btn-exportar-excel {
            background-color: #198754 !important;
            color: white !important;
        }

        .btn-exportar-pdf {
            background-color: #dc3545 !important;
            color: white !important;
        }

        .btn-exportar-print {
            background-color: #00a7c9 !important;
            color: white !important;
        }
        
    </style>
}

<div class="card" style="background-color:beige; color:black">
  <div class="card-header" style="text-align:center; background-color:blue; color:white; text-decoration-color:initial">
    BUSCAR EMPLEADOS
  </div>
  <div class="card-body">

      <div class="row">
          <div class="col-sm-12">

              @*<table class="table table-bordered" id="tb_empleados">*@
              <table class="display" id="tb_empleados" style="width:100%">
                  <thead style="background-color:black; color:white" >
                     
                    <tr>
                      <th>IdEmpleado</th>
                      <th>Nombre</th>
                      <th>Cargo</th>
                      <th>Oficina</th>
                      <th>Salario</th>
                      <th>Telefono</th>
                      <th>Fecha Ingreso</th>
                       <th>Acciones</th>
                    </tr>
                  </thead>
                  <tbody>
                  </tbody>
                </table>

          </div>
      </div>


  </div>
</div>
</div>
@section Scripts{

    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

    @*SCRIPTS DE BOTONES*@
    <script src="https://cdn.datatables.net/buttons/2.2.2/js/dataTables.buttons.min.js"></script>

    @*excel*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.html5.min.js"></script>

    @*pdf*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>

    @*imprimir*@
    <script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.print.min.js"></script>



     @*filter columns*@
    <script src="https://cdn.datatables.net/fixedheader/3.2.2/js/dataTables.fixedHeader.min.js"></script>





    <script>

        $(document).ready(function() {

             $('#tb_empleados thead tr').clone(true).addClass('filters').appendTo('#tb_empleados thead');


            $('#tb_empleados').DataTable({
                //_______________PRIMERO____________
                "ajax": {
                    "url": '@Url.Action("ListaEmpleados", "Home")',
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "idEmpleado" },
                    { "data": "nombre" },
                    { "data": "cargo" },
                    { "data": "oficina" },
                    { "data": "salario" },
                    { "data": "telefono" },
                    { "data": "fechaIngreso" }
           
                ],

                //________________ SEGUNDO ____________
                language:{
                    url:"https://cdn.datatables.net/plug-ins/1.11.5/i18n/es-ES.json"
                },
                //________________ TERCERO ____________
                columnDefs:[
                    {
                        targets: 0,
                        visible:false
                    }
                ],
                //_______________ CUARTO ______________
                dom: 'Bfrtip',
                buttons: [
                    //'excel',
                    {
                        extend: 'excelHtml5',
                        text: 'Exportar Excel',
                        filename: 'Reporte Empleados',
                        title: '',
                        exportOptions: {
                            columns: [ 1,2,3,4,5,6 ]
                        },
                        className: 'btn-exportar-excel',
                    },
                    //'pdf',
                    {
                        extend: 'pdfHtml5',
                        text: 'Exportar PDF',
                        filename: 'Reporte Empleados',
                        title: '',
                        exportOptions: {
                            columns: [ 1,2,3,4,5,6 ]
                        },
                        className: 'btn-exportar-pdf',
                    },
                    //'print'
                    {
                        extend: 'print',
                        title: '',
                        exportOptions: {
                            columns: [ 1,2,3,4,5,6 ]
                        },
                        className:'btn-exportar-print'

                    },
                    //extra
                    'pageLength'
                ],
                //______________ QUINTO _______________
                orderCellsTop: true,
                fixedHeader: true,
                initComplete: function () {
                    var api = this.api();
 
                    // For each column
                    api.columns().eq(0).each(function (colIdx) {

                            // Set the header cell to contain the input element
                            var cell = $('.filters th').eq( $(api.column(colIdx).header()).index() );

                            var title = $(cell).text();

                            //$(cell).html('<input type="text" placeholder="' + title + '" />');
                            $(cell).html('<input type="text" placeholder="Buscar..." />');
 
                            // On every keypress in this input
                            $('input', $('.filters th').eq($(api.column(colIdx).header()).index()) ).off('keyup change').on('keyup change', function (e) {

                                    e.stopPropagation();
 
                                    // Get the search value
                                    $(this).attr('title', $(this).val());
                                    var regexr = '({search})'; //$(this).parents('th').find('select').val();
 
                                    var cursorPosition = this.selectionStart;
                                    // Search the column for that value
                                    api
                                        .column(colIdx)
                                        .search(
                                            this.value != ''
                                                ? regexr.replace('{search}', '(((' + this.value + ')))')
                                                : '',
                                            this.value != '',
                                            this.value == ''
                                        )
                                        .draw();
 
                                    $(this)
                                        .focus()[0]
                                        .setSelectionRange(cursorPosition, cursorPosition);
                                });
                        });
                },

                //extra
                //searching: false



            });
            // Evento de clic para el botón "Editar"
            $('#tb_empleados tbody').on('click', 'button.editar', function () {
                var data = table.row($(this).parents('tr')).data();
                console.log('Editar fila:', data);
                // Aquí puedes agregar lógica para editar los datos
            });

            // Evento de clic para el botón "Eliminar"
            $('#tb_empleados tbody').on('click', 'button.eliminar', function () {
                var data = table.row($(this).parents('tr')).data();
                console.log('Eliminar fila:', data);
                // Aquí puedes agregar lógica para eliminar los datos
            });



        } );
    </script>
}