@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Insertar";
}
@model List<ProyectoDataTableCore.Models.Empleado>

<h1>@ViewData["Title"]</h1>

<form action="/Home/Insertar" method="post">


    <table>
        <tr>
            <td style="padding:10px">IDempleado:
            <td style="padding:10px"><input class="form-control" maxlength="8" type="text" name="IdEmpleado" id="IdEmpleado" required /></td>

            <td style="padding:10px">Nombres:
            <td style="padding:10px"><input class="form-control" maxlength="8" type="text" name="Nombre" id="Nombre" required /></td>

            <td style="padding:10px">cargo:
            <td style="padding:10px"><input class="form-control" maxlength="8" type="text" name="Cargo" id="Cargo" required /></td>

            <td style="padding:10px">oficina:
            <td style="padding:10px"><input class="form-control" maxlength="8" type="text" name="Oficina" id="Oficina" required /></td>

            <td style="padding:10px">salario:
            <td style="padding:10px"><input class="form-control" maxlength="8" type="text" name="Salario" id="Salario" required /></td>
            <td style="padding:10px">fecha ingreso:
            <td style="padding:10px"><input class="form-control" maxlength="8" type="text" name="FechaIngreso" id="FechaIngreso" required /></td>
            <td style="padding:10px">Telefono:
            <td style="padding:10px"><input class="form-control" maxlength="8" type="text" name="Telefono" id="Telefono" required /></td>


        </tr>
        <tr>
            <td style="padding:10px"></td>
            <td style="padding:10px">
                <button class="btn btn-success" type="submit" name="btn1" id="btn1"><span class="glyphicon glyphicon-save">AGREGAR</span></button>
            </td>
            <td style="padding:10px">
                <button class="btn btn-primary" type="submit" name="btn1" id="btn1"><span class="glyphicon glyphicon-remove">resetear</span></button>
            </td>
            <td style="padding:10px">
                <a class="btn btn-danger" href="~/Home/Index"><span class="glyphicon glyphicon-backward">Regresar</span></a>

            </td>
        </tr>
    </table>
</form>
<br />
<br />
<table id="tabla_empleados" class="table table-bordered">
    <thead style="background-color: black; color:white">
        <tr>
            <th>IdEmpleado</th>
            <th>Nombre</th>
            <th>Cargo</th>
            <th>Oficina</th>
            <th>Salario</th>
            <th>Telefono</th>
            <th>Fecha Ingreso</th>

            <th style="text-align:center">Mantenimiento</th>
        </tr>


        </tr>
    </thead>
    <tbody style="background-color:white">
        @foreach (var f in Model)
        {
            <tr>
                <td> @f.IdEmpleado</td>
                <td>@f.Nombre</td>
                <td>@f.Cargo</td>
                <td>@f.Oficina</td>
                <td>@f.Salario</td>
                <td>@f.Telefono</td>
                <td>@f.FechaIngreso</td>


                <td style="text-align: center">
                    <button class="btn btn-warning" type="button" id="btn_act" onclick="location.href='../Alumno/Actualizar?id=@f.IdEmpleado'"><span class="glyphicon glyphicon-edit"> Actualizar</span></button>
                    <button class="btn btn-warning" type="button" id="btn_act" onclick="location.href='../Alumno/Eliminar?id=@f.IdEmpleado'"><span class="glyphicon glyphicon-trash"> Eliminar</span></button>
                </td>
            </tr>
        }
    </tbody>
</table>

<script> $(document).ready(function () {
     $('#tabla_empleados').DataTable();
 });
    </script>
